{
  "email": "your_email@example.com",
  "name": "your_name",
  "rollNo": "your_roll_number",
  "accessCode": "your_access_code",
  "clientID": "your_client_id",
  "clientSecret": "your_client_secret"
}
